<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" src="../public/stylesheets/style.css" />
  </head>
  <body>
    <div class="bg-orange-200 w-full min-h-screen p-12">
      <form
        class="flex w-[30%] flex-col gap-6 mx-auto"
        action="/login"
        method="post"
      >
        <input
          class="rounded-md bg-blue-100 px-2 py-2 border-2 border-black placeholder:text-slate-500"
          type="text"
          name="email"
          placeholder="email"
        />
        <input
          class="rounded-md bg-blue-100 px-2 py-2 border-2 border-black placeholder:text-slate-500"
          type="text"
          name="password"
          placeholder="password"
        />

        <input
          class="bg-blue-500 px-3 py-2 text-white rounded-lg"
          type="submit"
          value="Sign In"
        />
        <a href="/">Click here to sign ip</a>
      </form>
    </div>
  </body>
  <script src="https://cdn.tailwindcss.com"></script>
</html>
